{
    "parser": "babel-eslint",
    "env": {
        "browser": true
    },
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true,
            "spread": true,
            "experimentalObjectRestSpread": true
        }
    },
    "extends": ["eslint:recommended"],
    "rules": {
        "no-console": 0,
        "no-unused-vars": 0,
        "indent": ["error", 4],
        "valid-jsdoc": [2, {
            requireParamDescription: false,
            requireReturnDescription: false,
            requireReturn: false,
            prefer: {returns: 'return'},
        }],
        "require-jsdoc": [2, {
            require: {
                FunctionDeclaration: true,
                MethodDefinition: true,
                ClassDeclaration: true,
            }
        }],
        "no-var": 2,
        "quotes": [2, 'double', {allowTemplateLiterals: true}],
    }
}
