<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>GG Panel</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">
    <link href="http://localhost:3070/app.1ef081acda6dd87cecbede399952733c.css" rel="stylesheet"></head>
    <body>
        <div id="app"></div>
    <script type="text/javascript" src="http://localhost:3070/vendor.fd0538864798864ebc2b.js"></script><script type="text/javascript" src="http://localhost:3070/app.77dedb4f9f85bf6316d7.js"></script></body>
</html>
