<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>GG Panel</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">
    <link href="http://local.paytm.com/app.1ef081acda6dd87cecbede399952733c.css" rel="stylesheet"></head>
    <body>
        <div id="app"></div>
    <script type="text/javascript" src="http://local.paytm.com/vendor.1c431aa9bfae59037c07.js"></script><script type="text/javascript" src="http://local.paytm.com/app.9d02b1c85e6f293f306c.js"></script></body>
</html>
